div.sidebar
    dl
        dt Host:
        dd#host
        dt Type:
        dd#type
        dt Platform:
        dd#platform
        dt Architecture:
        dd#arch
        dt OS Release:
        dd#release
        dt IP Address:
        dd#ip
        dt Uptime:
        dd#uptime
        dt Total Memory:
        dd#tmem
        dt Free Memory:
        dd#mem