div.topbar
    div.topbar-inner
        div.container-fluid
            a(class="brand", href="#") Start Up!
            ul.nav
                li(class="#{home}")
                    a(href="/") Home
                li(class="#{setting}")
                    a(href="/setting") Setting